.float-right {
  padding-left: 500px;
}
.carousel-item {
  padding: 20px 70px;
}
.container {
  margin-bottom: 150p;
}

.buy-btn {
  text-align: center;
  color: aliceblue;
  background-color: black;
  padding: 10px;
  border: none;
  border-radius: 5px;
}
.carousel-indicators li {
  background-color: chocolate;
}
.price {
  text-align: center;
}

.card-footer {
  padding: 0.75rem 1.25rem;
  background-color: rgba(0, 0, 0, 0.03);
  border-top: 1px solid white;
}
figcaption {
  color: rgb(10, 10, 10);
  font: italic smaller sans-serif;
  padding: 3px;
  text-align: center;
}

.smart-work {
  padding-top: 150px;
}
.perfume {
  padding-bottom: 60px;
}
